*{
    text-align: center;
    font-family: sans-serif;
    font-weight: bold;
}
table, caption, thead, tr, th{
    border: 1px solid rgb(7, 7, 7);
    border-collapse: collapse;
    margin: 0 auto;
    font-size: 28px;

}
label{
    display: block;
    cursor: pointer;
}
input{
    font-size:medium;
}
button{
    font-size: 20px;
}